<!DOCTYPE html>
<html lang="en">
  <head><% include partials/page/head.ejs %></head>
  <body class= "<%= classname %>" >
  <% include partials/page/header.ejs %>
  
  <div class="container">
    <h1><%= title %></h1>
	<p>Nature, in the broadest sense, is the natural, physical, or material world or universe. "Nature" can refer to the phenomena of the physical world, and also to life in general. The study of nature is a large part of science. Although humans are part of nature, human activity is often understood as a separate category from other natural phenomena.</p>
	
	</div><!--container -->
	
		<% include partials/page/footer.ejs %>
		<% include partials/page/jsdefaults.ejs %>
     </body>
</html>


