extends layout

block content
  p MGM college is a premier institution in terms of facilities, equipments, staff and achievement.
  p With a tradition of excellence in work and achievement established by scholarly teachers, the College has become a byword for quality and merit.
  p The College Trust has been the most enlightened one and has spared no effort to raise the college to its foremost position.