extends layout

block content
   h1 Our Motto:
    h2 Sathwath Sanjayathe Jnanam
      h3 Our motto is Sathwath Sanjayathe    Jnanam. It means : From virtue springs knowledge - Bhagavadgeetha. The Githaic motto of MGM College proclaims that knowledge is a sublime goal to be pursued as a culmination of the moral endeavour of man. Knowledge bereft of virtue is equivalent to ignorance.True knowledge comes from understanding the essence of existence. Honest introspection, passionate learning are the cornerstones for acquiring true knowledge.

